<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="hero is-fullheight has-background-light">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-size-1 has-text-link">
                404
            </h1>
            <p class="subtitle is-size-4 has-text-grey">
                Oops! page not found
            </p>
            <div class="buttons is-centered mt-5">
                {% if isLoggedIn %}
                    <a href="/app/dashboard" class="button is-small is-primary ">
                        Go to Dashboard
                    </a>
                {% else %}
                    <a href="/" class="button is-small is-primary ">
                        Go to Login
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
</body>
</html>
